/Analýza hlasu nove (1).docx
/banky.py
/colab.py
/conf_matrix.py
/get-pip.py
/Jozef_Ruzsinszki.zip
/Jozef_Ruzsinszki_.pdf
/Koeficienty.docx
/lpc_spafe_upravene.py
/Matlab
/mean.py
/merge.py
/merged_output_crisis
/merged_output_endat
/merged_output_ravdess
/merged_output_skdat
/merged_output_spolu
/merged_output_stressdat
/merged_output_sudna_sien
/merged_output_susas
/merged_output_susasupravene
/mergepandas.py
/MFCCS_RAVDESS.zip
/orig_settings_output
/out_mfccs_crisis
/out_mfccs_crisis_8
/Poznámky.docx
/priemer.py
/ravdes.py
/ravdes_error
/Report
/sampling.py
/sap-voicebox
/Skript
/Spafe_csv_zaloha.py
/Spafe_merge.py
/Spafe_zaloha_prio.py
/Vysledky
/Zaloha_Spafe_.py
/Zdroje
/~$známky.docx